<%= link_to 'New Blog', new_blog_path, remote: true %>
<% blogs.each do |blog| %>
  <div>
    <%= blog.content %>
    <%= link_to 'Show', blog, remote: true %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <hr>
  </div>
<% end %>
