<%= link_to 'Back', blogs_path, remote: true %>
<div>
  <div>
    <%= @blog.content %>
  </div>

  <div class="blogs_show_image">
    <%= image_tag @blog.image.url if @blog.image? %>
  </div>

  <hr>

</div>
<%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>