<%= form_with(model: [blog, comment]) do |f| %>
  <div class="field">
    <%= f.text_field :content, class: 'form-control', id:'comment_content', placeholder: t('To comment') %>
    
    <div class="actions text-right">
      <%= f.submit class: 'btn btn-primary', id:"submit" %>
    </div>
  </div>

<% end %>