<script>
  var map;

  function changeCenter(e) {
    var lat = e.target.dataset.lat;
    var lng = e.target.dataset.lng;
    map.panTo(new google.maps.LatLng(lat, lng));
  }


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.6581, lng: 139.7017},
      disableDefaultUI: true,
      zoomControl: true,
      zoom: 15,
      styles: [
        {stylers: [{weight: 3}]},
        {
          featureType: 'landscape',
          elementType: 'labels.icon',
          stylers: [{visibility: 'off'}]
        },
        {
          featureType: 'poi',
          elementType: 'labels.icon',
          stylers: [{visibility: 'off'}]
        },
        {
          featureType: 'transit.station.airport',
          elementType: 'labels.icon',
          stylers: [{visibility: 'off'}]
        }
      ],
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
      });
    } 
    
    var markersJson = document.getElementById('markers').getAttribute('data-markers');
    var markers = JSON.parse(markersJson);
    for (var i = 0; i < markers.length; i++) {
      var marker = new google.maps.Marker({
        position: {lat: markers[i][1], lng: markers[i][2]}, 
        map: map,
        icon: markers[i][5],
      });
      
      var infowindow = new google.maps.InfoWindow({
        disableAutoPan: true,
      });

      if(markers[i][4] == false){
        infowindow.setContent(
          '<div style="max-width: 50px; max-height: 80px;">' + markers[i][3] + '</div>'
        );
      } else {
        infowindow.setContent(
          '<div><img src="' + markers[i][4] + '" width="50"></div>'
        );
      }
            
      infowindow.open(map, marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          map.panTo({lat: markers[i][1], lng: markers[i][2]});

          $.ajax({
            url: `/blogs/${markers[i][0]}`,
            type: 'GET',
            success: function() {
              console.log('success');
            },
            error: function() {
              console.log('error')
            }
          });
        }
      })(marker, i));
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["API_KEY"]%>&callback&callback=initMap" async defer></script>
