<div class="main_container"> 

  <div id="blogs_area">
    <%= render partial: 'users/show', locals: { user:@user, blogs: @blogs } %>
  </div>

  <div id="map"></div>
  <div id="markers" data-markers="<%= @markers_json %>"></div>

  <%= render partial: 'maps/user_map' %>

</div>

