<div class="top-message text-center">

  <%= image_tag 'logo.png' %>

  <h2>地図上で、世界はつながる</h2>
  <p>今の気持ちをつぶやいてみよう！</p>

  <%= link_to t('sign_in'), new_user_session_path, class: 'post btn btn-primary' %>
  
  <%= link_to t('sign_up'), new_user_registration_path, class: 'post btn btn-primary' %>

  <div style="margin: 10px;">
    <%= link_to t('Guest login'), users_guest_sign_in_path, method: :post %>
  </div>
</div>

<div class="top-background"></div>