html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  color: #333;
  background: whitesmoke;
}

body {
  height: calc(100% - 55px); 
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  margin: 0;
}

textarea {
  resize: none;
}

#map {
  width: 100%; 
}

header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  padding: 0 20px;
  background: white;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}

.header_logo img {
  width: 80px;
}

.header_menu_item img {
  margin-bottom: 10px;
}

.header_menu {
  display: flex;
}

.header_menu_item {
  margin-left: 22px;
}

.top-background {
  background: url("/images/top.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.top-message {
  padding: 100px 0;
}

.top-message img {
  width: 350px;
}

/* マーカーアイコン */
img[src*="/uploads/user/icon/"] { 
  border-radius:50%; 
}

.main_container {
  display: flex;
  width: 100%;
  height: 100%;
}

#blogs_area {
  width: 318px;
  min-width: 318px;
  height:100%;
  margin: 15px 15px 0 15px;
  overflow-y:scroll;
}

.blogs_image img {
  width: 100%;
}

.fa-chevron-left {
  margin-bottom: 15px;
}

.fa-heart, 
#blogs_area .fa-heart-o:hover {
  color: red;
}

.fa-heart:hover, 
#blogs_area .fa-heart-o:hover {
  transform: scale(1.1, 1.1);
}

a[href*="/likes?"], 
.fa-heart {
  text-decoration: none;
  margin: 0 5px;
}

.field {
  margin: 15px 0;
}

.actions {
  margin: 15px;
}

.likes_blog {
  border-bottom: solid 2px #23527c;
}

.following:hover {
  background: red;
  color: white;
}
